@import "../base/index";

.footer-area {
  margin-top: 40px;
  height: 940px;
  width: 1590px;
  background: #0e1422;
  position: relative;
  overflow: hidden;
  z-index: 1;
  @include homePage(945px) {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: 1800px;
  }
  .footer-firstimg {
    position: absolute;
    height: 800px;
    width: 823px;
    left: -29%;
    background-position: center;
    bottom: -13%;
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
  }
  .footer-row {
    margin-top: 180px;
    margin-left: 165px;
    display: flex;
    @include homePage(945px) {
      display: flex;
      flex-direction: column;
    }

    .background-cta {
      width: 1200px;
      height: 180px;
      background-image: url(../../assets/imageshome/callto-action.png);
      background-repeat: no-repeat;
      background-color: $main-red;
      background-blend-mode: multiply;
      overflow: hidden;
      border-radius: 100px;
      background-position: center;
      object-fit: contain;
      background-size: cover;
      .row-cta {
        display: flex;
        @include homePage(945px) {
          display: flex;
          flex-direction: column;
        }
        .left-wrapper {
          margin-top: 20px;
          margin-left: 80px;
          padding: 45px 0;
          p {
            margin-bottom: 0;
            color: #fff;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 18px;
          }
          h3 {
            color: #fff;
            margin-bottom: 0;
            margin-top: 0px;
            font-size: 40px;
          }
        }
        .right-wrapper {
          margin-left: 80px;

          margin-top: 87px;

          form {
            position: relative;
            input {
              border: none;
              background: #ffffff;
              border-radius: 100px;
              height: 55px;
              width: 547px;
              color: #000;
              padding: 0 186px 0 25px;
            }
            button {
              position: absolute;

              width: 178px;
              height: 55px;
              right: -10px;
              border-radius: 100px;
              background-color: darkred;
              border: none;
              padding: 17px 30px;
              color: whitesmoke;
              font-size: 16px;
              line-height: 21px;
              font-weight: 700;
            }
            button:hover {
              background-color: rgb(221, 184, 184);
              color: black;
              border: none;
              transition: 0.4s;
            }
          }
        }
      }
    }
  }
  .rowpart2 {
    padding-top: 130px;
    display: flex;
    @include homePage(945px) {
      display: flex;
      flex-direction: column;
      margin-top: 80px;
    }
    .wized1 {
      margin-left: 70px;
      z-index: 5;
      width: 370px;
      height: 270px;
      .wized-tittle {
        margin-bottom: 25px;
        h5 {
          color: white;
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 26px;
        }
      }
      .quick-inner {
        display: flex;
        @include homePage(945px) {
          display: flex;
          flex-direction: column;
        }
        .left-links {
          list-style: none;
          padding-left: 0;
          margin: 0;
          li a {
            text-decoration: none;
            font-size: 20px;
            line-height: 32px;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #5d666f;
          }
          a::after {
            content: "";
            width: 0px;
            height: 2px;
            display: block;
            background: $main-red;
            transition: 0.3s;
          }
          a:hover::after {
            width: 100%;
          }
          a:hover {
            color: $main-red;
          }

          i {
            margin-right: 12px;

            font-size: 16px;
            color: whitesmoke;
          }
        }
        .right-links {
          list-style: none;
          padding-left: 40px;
          margin: 0;
          li a {
            text-decoration: none;
            font-size: 20px;
            line-height: 32px;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #5d666f;
          }
          a::after {
            content: "";
            width: 0px;
            height: 2px;
            display: block;
            background: $main-red;
            transition: 0.3s;
          }
          a:hover::after {
            width: 100%;
          }
          a:hover {
            color: $main-red;
          }

          i {
            margin-right: 12px;

            font-size: 16px;
            color: whitesmoke;
          }
        }
      }
    }
    .wized2 {
      width: 305px;
      height: 390px;
      background: linear-gradient(180deg, #0e1422 -4.66%, #212631 100%);
      border-radius: 15px;
      padding: 40px;
      margin-top: -40px;
      margin-left: 130px;
      .wized-tittle2 {
        margin-bottom: 25px;
        h5 {
          color: #fff;
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 24px;
          line-height: 1.25;
        }
      }
      .opening-inner {
        .single-opening {
          display: flex;
          justify-content: space-between;
          @include homePage(945px) {
            display: flex;
            flex-direction: column;
          }
          p {
            margin-bottom: 15px;
            color: #fff;
            font-size: 18px;
            line-height: 30px;
            font-weight: 700;
            margin: 0 0 40px;
          }
        }
        a {
          color: white;
          background-color: darkred;
          padding: 17px 30px;
          min-width: max-content;
          font-size: 16px;
          line-height: 21px;
          font-weight: 700;
          border-radius: 100px;
        }
        a:hover {
          background-color: rgb(241, 214, 214);
          color: black;
          transition: 0.4s;
          border: none;
        }
      }
    }
    .wized3 {
      margin-left: 100px;
      width: 380px;
      height: 350px;
      .wized-tittle3 {
        margin-bottom: 25px;
        h5 {
          color: #fff;
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 24px;
        }
      }
      .post-wrapper {
        height: 150px;
        .first-wrapper {
          display: flex;
          align-items: flex-start;
          .photo {
            margin-right: 20px;
            display: block;
            overflow: hidden;
            border-radius: 15px;
            img:hover {
              transform: scale(1.3);
              transition: 0.5s;
            }
          }
          .post-right {
            width: 198px;
            height: 100px;
            .fa-regular {
              font-size: 20px;
            }
            span {
              margin-bottom: 0;
              color: #8b8f99;
              font-size: 16px;
              margin-top: -6px;
            }
            h6 {
              color: #fff;
              font-weight: 500;
              font-size: 19px;
              line-height: 26px;
              margin-bottom: 0;
            }
            h6:hover {
              color: $main-red;
              transition: 0.3s;
            }
            a {
              margin-top: 2px;
              color: darkred;
              font-size: 20px;
            }
            .fa-solid {
              padding-left: 4px;
              font-size: 16px;
              color: darkred;
            }
            .fa-solid:hover {
              transform: translateX(15px);
              transition: 0.7s;
            }
          }
        }
      }
    }
  }
}
